[submodule "External/DirectXTex"]
	path = External/DirectXTex
	url = https://github.com/Microsoft/DirectXTex
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb
[submodule "External/UVAtlas"]
	path = External/UVAtlas
	url = https://github.com/microsoft/UVAtlas
[submodule "External/DirectXMesh"]
	path = External/DirectXMesh
	url = https://github.com/microsoft/DirectXMesh
[submodule "External/tinyexr"]
	path = External/tinyexr
	url = https://github.com/syoyo/tinyexr
[submodule "External/cereal"]
	path = External/cereal
	url = https://github.com/USCiLab/cereal
[submodule "External/optick"]
	path = External/optick
	url = https://github.com/bombomby/optick
[submodule "External/RTXGI"]
	path = External/RTXGI
	url = https://github.com/NVIDIAGameWorks/RTXGI.git
