[submodule "External/DirectXTex"]
	path = External/DirectXTex
	url = https://github.com/Microsoft/DirectXTex
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb
